{% if site.theme_settings.katex %}
<script src="{{ "/js/katex_init.js" | prepend: site.baseurl }}"></script>
{% endif %}

	{% if site.theme_settings.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js" async></script>
	{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme_settings.footer_text }}</p>
</footer>
{% endif %}
